@{
    ViewBag.Title = "Not Found";
}

<h1>@ViewBag.ErrorMessage</h1>
<a asp-action="index" asp-controller="home" class="btn btn-outline-success" style="width:auto">
    Click Here To See the Employees List</a>
